# COMP309 - a4
### Elliott Rose
### 300540768

In [2]:
# Imports
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [9]:
df = pd.read_csv('Part 1 - regression/diamonds.csv')
df.head

<bound method NDFrame.head of        Unnamed: 0  carat        cut color clarity  depth  table     x     y  \
0               1   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98
1               2   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84
2               3   0.23       Good     E     VS1   56.9   65.0  4.05  4.07
3               4   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23
4               5   0.31       Good     J     SI2   63.3   58.0  4.34  4.35
...           ...    ...        ...   ...     ...    ...    ...   ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76
53936       53937   0.72       Good     D     SI1   63.1   55.0  5.69  5.75
53937       53938   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68
53938       53939   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12
53939       53940   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87

          z  price
0      2.43    326
1      2.31    326
2      2.31    327
3      2.63    334
4      2.75    335
...     ...    ...
53935  3.50   2757
53936  3.61   2757
53937  3.56   2757
53938  3.74   2757
53939  3.64   2757

[53940 rows x 11 columns]>